.ChatHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.ChatHeader__Left > h4 {
    display: flex;
    align-items: center;
}

.ChatHeader__ChannelName {
    text-transform: lowercase;
    .MuiSvgIcon-root{
        margin-left: 10px;
        font-size: 16px;
    }
}

.ChatHeader__Right > p {
    display: flex;
    align-items: center;
    .MuiSvgIcon-root{
        margin-right: 10px;
        font-size: 16px;
    }
}